<div class="container">
  <h1>New Article</h1>
  <%= form_for(@articles) do |f| %>
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control'%>
    <%= f.label :content, class: 'form-label' %>
    <%= f.text_field :content, class: 'form-control'%>
    <%= f.submit class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
